*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
}




nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  transition: 0.4s;
  z-index: 99;
}
 
.logo {
  color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}
 
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 10px;
}

.burger {
  display: none;
}

.burger div{
  background-color: rgb(226, 226, 226);
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}





@media only screen and (min-width:1920px) {
  .herobilde{
    display: none;
  }
  .main-banner{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top:10vh;
      background-color: rgba(10, 10, 10, .9);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
  }
  .nav-links li {
      opacity: 0;
  }
  .burger {
      cursor: pointer;
      display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px)
  }
  to {
      opacity: 1;
      transform: translateX(0px)
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}




 
 /*//////////////////////ting/////////////////////////*/


section{
  scroll-snap-align: start;
}


.HTMLcontainer{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 1080px;
}


.landing{
  min-height: 100vh;
  background-size: cover;
  background-color: gray;
}


.intro{
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px;
  z-index: 999;
}

.introtext{
  color: white;
  font-size: 2rem;
}

.hide{
  background-color: black;
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;
}




/*////////////////////////////////////////About me////////////////////////////////////////*/




.aboutme{
  background-image: linear-gradient(black, rgb(7, 7, 7));
  min-height: 1080px;
  padding: 10px;
}

.AM{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.AMbox1top{
  display: flex;
  flex-direction: row;
}

.AMbox1{
  background-color: rgb(20, 20, 20);
  width: 60%;
  min-height: 400px;;
  margin: 20px;
}


.AMbox1bilder{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-around;
  padding: 10px;
}

.AMbox1bilder2{
  border: 1px solid black;
  float: left;
  margin-right: 5px;
  padding: 5px;
  height: 50px;
}

.AMbox1bilder1{
  border: 1px solid black;
  padding: 10px;
}

.AMbox1bilder1 img:hover{
  transform: scale(1.5);
  transition: all 0.3s ease;
}

#Ambox1smalltext{
  float: left;
  margin: 10px;
  color: #e7e7e7;
}




#AMbox2{
  width: 30%;
  background-color: rgb(20, 20, 20);
  margin: 20px;
  height: 400px;
}

.center{
  padding: 20px;
}

.center p{
  color: white;
}

#prosent{
  float: right;
}

.skill{
  background: #142850;
  padding: 4px;
}

.skill-level{
  background: #0C7B93;
  height: 10px;
}



.main-banner{
  margin: 0 auto;
  width: 90%;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.main-banner:hover{
  background-color: black;
  transition: opacity .5s ease-in-out;
}

.main-banner .imgban{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition:all ease-in-out 500ms;
}

.main-banner #imgban3{
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-banner #imgban2{
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-banner #imgban1{
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.AMservise{
  display: flex;
  flex-wrap: wrap;
}


.AMsbannerbox1{
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  flex: 0.5;
}

.AMsbannerbox1-1{
  border:  1px solid black;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.AMsbannerbox1-2{
  border:  1px solid black;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.AMsbannerbox1-3{
  border:  1px solid black;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.AMsbannerbox1-4{
  border:  1px solid black;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.AMsbannerbox1-1{
  background-color: #0f1822;
  background-image: url(bilder/bilderAM/valorant2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.AMsbannerbox1-2{
  background-image: url(bilder/bilderAM/fotball1.png);
background-size: cover;
}

.AMsbannerbox1-3{
  background-image: url(bilder/bilderAM/gaming4.png);
}

.AMsbannerbox1-4{
  background-image: url(bilder/bilderAM/taco2.png);
  background-size: cover;
}




.AMbox3{
  margin: 10px;
  background-color: white;
  border: 1px solid black;
  width: 70%;
  height: 300px;
}

.AMbox3 a{
  text-decoration: none;
}

#AMbox3text{
  width: 90%;
  text-align: center;
}

#AMbox3toptext{
  margin: 10px;
}




/*////////////////////////////mittarbeid////////////////////////*/


.mittarbeid{
  border: 1px solid black;
  background-color: rgb(7, 7, 7);
  min-height: 1080px;
}

.AMarbeid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.arbeid{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border: 1px solid  black;
  height: 400PX;
  width: 300px;
  margin: 50px;
}

#arbeid1{
  background-image: url(bilder/bilderMA/oslolacrosse/lacrossbilde.png);
}
#arbeid2{
  background-image: url(bilder/bilderMA/MAoppdrag2.png);
}
#arbeid3{
  background-image: url(bilder/bilderMA/MAtree/tree.JPG);
}
#arbeid4{
  background-image: url(bilder/bilderMA/MA4.PNG);
}
#arbeid5{
  background-image: url(bilder/bilderMA/tennisball.PNG);
}
#arbeid6{
  background-image: url(bilder/bilderMA/IMG_20210909_092728\ \(1\).jpg);
}


.MAtopbar{
  display: flex;
  flex-direction: row;
}

#MAtoptext{   
  margin: 10px;
  height: 75px;
  width: 100%;
  float: left;   
  position: relative;
  top: 5px;
}

#MA1b1{
  display: flex;
  height: 70px;
  float: right;
  margin-right: 20px;
  position: relative;
  top: -93px;
}


.MAtopbarcolor{
  background-color: rgb(20, 20, 20); 
  width: 100%;
  height: 75px;
}

.MA1text{
  display: flex;
  position: relative;
  bottom: -74px;
  background-color: transparent;
  color: transparent;
  transition: .5s;
}

.MA1text:hover{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}



#MA2b1{
  padding-left: 40px;
  padding-right: 40px;
  height: 90%;
  margin-right: 20px;
  position: relative;
  top: -15px;
  left: -30px;
}



#MA3b1{
  padding-left: 40px;
  padding-right: 40px;
  height: 90%;
  margin-right: 20px;
  position: relative;
  top: -15px;
}



.MA4topbarcolor{
  background-color: gray;  
  width: 100%;
  height: 75px;
}

#MA6b1{
  padding-left: 40px;
  padding-right: 40px;
  height: 90%;
  margin-right: 20px;
  position: relative;
  top: -15px;
}



/*//////////////////////Designmaual////////////////////////*/

.designmanual{
  border: 1px solid black;
  background-color: rgb(7, 7, 7);
  height: 1080px;
}


.excelb{
  display: flex;
  flex-direction: column;
}

#planexcel{
  margin: 10px;
}




/*////////////////////////////tutorial//////////////////////////////*/
.tutorial{
  border: 1px solid black;
  background-color: rgb(7, 7, 7);
  min-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.TU{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}


.TUvid{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TUposterposter{
  width: 70%;
  transition: transform 2s;
}



#TUposterposter:hover{
  transform: scale(1.2);
}



/*////////////////////////////Kontaktmeg//////////////////////////////*/
.Kontaktmeg{
  border: 1px solid black;
  background-color: rgb(7, 7, 7);
  min-height: 1080px;
}


.KMtop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}



#OMmegvid{
  margin: 20px;
}


.KMbottem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  bottom: -100px;
}


.KMbox{
  background-color: rgb(20, 20, 20);
  flex: 1;
  min-width: 200px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#KMb3{
  width: 100px;
  height: auto;
}


/*//////////////////////////////////////////////////////////////////////////*/


@media screen and (max-width: 768px) {
  .AMbox1{
    width: 90%;
  }
  .AMbox2{
    background-color: red;
  }
  .KMbottem{
    bottom: -10px;
  }
}











/*
::-webkit-scrollbar {
  display: none;
}

*/
