*{
  padding: 0px;
  margin: 0px;
  background-color: gray;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
}




nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  transition: 0.4s;
  z-index: 99;
}

#activenav{
  font-weight: bold;
}
 
.logo {
  color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}
 
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

.burger {
  display: none;
}

.burger div{
  background-color: rgb(226, 226, 226);
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}



@media screen and (max-width: 1024px) {
  .nav-links {
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top:10vh;
      background-color: rgba(10, 10, 10, .9);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
  }
  .nav-links li {
      opacity: 0;
  }
  .burger {
      cursor: pointer;
      display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px)
  }
  to {
      opacity: 1;
      transform: translateX(0px)
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}




 
 /*//////////////////////ting/////////////////////////*/

.LoginHeader{
  background-color: transparent;
}


section{
  scroll-snap-align: start;
}


.HTMLcontainer{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 1080px;
}


.landing{
  min-height: 100vh;
  background-size: cover;
  background-color: gray;
  background-image: url(bilder/bilderHP/2015_-_Kuben\,_Kabelgata.jpg);
  background-size: contain;
}


.intro{
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px;
  z-index: 999;
}

.introtext{
  color: white;
  font-size: 2rem;
}

.hide{
  background-color: black;
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;
}


#epostlable{
  background-color: transparent;
}

/*////////////////////////Download//////////////////////////*/




/*////////////////////////Aboutme//////////////////////////*/



/*////////////////////////Login//////////////////////////*/
.Login{
  background-image: url(bilder/bilderlogin/istockphoto-808592242-612x612.jpg);
  background-size: cover;
  height: 609px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgcontainer{
  width: 300px;
  height: 400px;
  background-color: rgba(46, 46, 46, 0.8);
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lglogins{
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
}

.label{
  background-color: transparent;
}


#lgbutton{
  width: fit-content;
  background-color: rgba(46, 46, 46, 0.9);
  cursor: pointer;
  border: none;
}

.lgsignin{
  background-color: transparent;
}

.manybutons{
  width: 80%;
  height: 25%;
  background-color: transparent;
  flex-direction: column;
}

.exstra-info{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forgot{
  background-color: transparent;
  width: 80%;
  display: flex;
  position: relative;
  left: 95px;
}



/*////////////////////////Home//////////////////////////*/

manybutons